.hidden {
  display: none;
}

.dbx-list {
  margin: 0;
  padding: 10px;
  background: lightblue;
}
.dbx-list-item {
  list-style: none;
  padding: 5px;
  margin: 5px;
}
.dbx-list-item:not(:last-child) {
  border-bottom: 1px solid black;
}

.dbx-load-btn {
  background: black;
  border: 0;
  color: white;
  cursor: pointer;
}

.folder {
  font-weight: bold;
}
.folder:before {
  /* http://www.amp-what.com/unicode/search/folder */
  content: '\1f4c1';
  vertical-align: sub;
  margin-right: 5px;
}
