:root {
  --blue: #2895f1;
}

.hidden {
  display: none;
}

.loading {
  font-size: 3rem;
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  color: var(--blue);
  z-index: -1;
}

.dbx-list {
  margin: 0;
  padding: 10px;
  background: var(--blue);
  color: white;
}
.dbx-list-item {
  list-style: none;
  padding: 5px;
  margin: 5px;
}
.dbx-list-item:not(:last-child) {
  border-bottom: 1px solid white;
}

.dbx-btn {
  background: white;
  border: 3px solid var(--blue);
  color: var(--blue);
  cursor: pointer;
  font-size: 1.2rem;
  margin: 5px 0;
}
.dbx-btn:hover {
  background: var(--blue);
  color: white;
}

.folder {
  font-weight: bold;
}
.folder:before {
  /* http://www.amp-what.com/unicode/search/folder */
  content: '\1f4c1';
  vertical-align: sub;
  margin-right: 5px;
}
